metagenomics/assembly/scaffolds.fasta.gz filter=lfs diff=lfs merge=lfs -text
metagenomics/reads/L1.R1.fastq.gz filter=lfs diff=lfs merge=lfs -text
metagenomics/reads/L1.R2.fastq.gz filter=lfs diff=lfs merge=lfs -text
metagenomics/reads/L2.R1.fastq.gz filter=lfs diff=lfs merge=lfs -text
metagenomics/reads/L2.R2.fastq.gz filter=lfs diff=lfs merge=lfs -text
metagenomics/reads/P2.R2.fastq.gz filter=lfs diff=lfs merge=lfs -text
metagenomics/reads/P3.R2.fastq.gz filter=lfs diff=lfs merge=lfs -text
metagenomics/reads/L3.R1.fastq.gz filter=lfs diff=lfs merge=lfs -text
metagenomics/reads/L3.R2.fastq.gz filter=lfs diff=lfs merge=lfs -text
metagenomics/reads/P1.R1.fastq.gz filter=lfs diff=lfs merge=lfs -text
metagenomics/reads/P1.R2.fastq.gz filter=lfs diff=lfs merge=lfs -text
metagenomics/reads/P2.R1.fastq.gz filter=lfs diff=lfs merge=lfs -text
metagenomics/reads/P3.R1.fastq.gz filter=lfs diff=lfs merge=lfs -text
